<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfinal.weixin.mapper.MusicMapper">


  <!--List<Music> getMusicBySingerAndMusicName(@Param("singer") String singer,@Param("musicName") String MusicName)-->
  <select id="getMusicBySingerAndMusicName">

  </select>

</mapper>
